{% load static %}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url "produto:busca" %}?q=harry+potter">
      <img class="d-block w-100" src="{% static 'global/images/harrypotter.webp' %}" alt="Slide 1" />
      </a>
      
    </div>
    <div class="carousel-item">
      <a href="{% url "produto:busca" %}?q=minecraft">
      
      <img class="d-block w-100" src="{% static 'global/images/minecraft.webp' %}" alt="Slide 2" />
      </a>
    </div>
    <div class="carousel-item">
      <a href ="{% url "produto:busca" %}?q=homem+aranha">
        <img class="d-block w-100" src="{% static 'global/images/spider.webp' %}" alt="Slide 3" />
      </a>
    </div>
    <div class="carousel-item">
      <a href ="{% url "produto:busca" %}?q=marvel">
        <img class="d-block w-100" src="{% static 'global/images/marvel.jpg' %}" alt="Slide 4" />
      </a>
    </div>
    <div class="carousel-item">
      <a href ="{% url "produto:busca" %}?q=star+wars">
      <img class="d-block w-100" src="{% static 'global/images/starwars.webp' %}" alt="Slide 5" />
      </a>
    </div>
    <div class="carousel-item">
      <a href ="{% url "produto:busca" %}?q=games">
      <img class="d-block w-100" src="{% static 'global/images/games.jpeg' %}" alt="Slide 6" />
      </a>
    </div>
  </div>

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 30px; height: 5px; background-color: #ffffff"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2" style="width: 30px; height: 5px; background-color: #ffffff"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3" style="width: 30px; height: 5px; background-color: #ffffff"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="3" aria-label="Slide 4" style="width: 30px; height: 5px; background-color: #ffffff"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="4" aria-label="Slide 5" style="width: 30px; height: 5px; background-color: #ffffff"></button>
    <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="5" aria-label="Slide 6" style="width: 30px; height: 5px; background-color: #ffffff"></button>
  </div>

  <!-- Botões de navegação -->
  <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>