{% load static %}
{% load omfilters %}
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <a href="{% url "loja:index" %}">
          <img
          class="imagem-logo-header"
          src="{% static 'global/images/logo.png' %}"
          alt=""/>
        </a>
        <p>{{request.user}}</p>
        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'produto:lista' %}">Produtos</a>

              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Quem somos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Suporte</a></li>
                  <li><a class="dropdown-item" href="#">Sobre</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Contato</a></li>
                  
                </ul>
              </li>
              
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'produto:carrinho' %}">Carrinho
                <span class="nav-cart-count mr-1">
                  <strong>{{request.session.carrinho|cart_total_qtd}}</strong>
                </span>
                <span class="nav-cart-icon mr-2">
                  <i class="faz fa-shopping-cart"></i>
      
                </span>
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'perfil:criar' %}">Cadastrar
                                           
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'perfil:login' %}">Login
                                           
                </a>
                
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">🔍</button>
            </form>
          </div>
        </div>
      </nav>


</header>