.carousel-inner img {
    width: 400px;
    height: 700px;
    margin-top: 15px;
}
#carouselExample {
    
    width: 100%; /* Define a largura como 75% da tela */
    margin: 0 auto; /* Centraliza o carrossel */
}
.imagem-logo-header{
    width: 80px;
    height: 80px;
    margin-right: 20px;

}