{% extends "global/base.html" %}
{% block conteudo %}
{% load omfilters %}

<div class="container mt-4">
  
  <div class="row">
    {% for produto in page_obj %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 animated-card " style="width: 100%;">
          {% if produto.imagem %}
          <a href="{% url "produto:detalhe" produto.slug %}">
            <img src="{{ produto.imagem.url }}" class="card-img-top" alt="...">
          </a>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">{{ produto.descricao_curta }}</p>
              <div class="container produto-preco-block text-center">
                {% if produto.preco_promocional %}
                  <span class="preco-produto">
                    {{ produto.preco_promocional|formata_preco }}
                  </span>
                  <span class="preco-produto text-muted text-decoration-line-through">
                    {{ produto.preco|formata_preco }}
                  </span>
                {% else %}
                  <span class="preco-produto">
                    {{ produto.preco|formata_preco }}
                  </span>
                {% endif %}
              </div> 
            <a href="{% url "produto:detalhe" produto.slug %}" class="btn btn-primary">Comprar {{ produto.nome }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    {% include "global/partials/_pagination.html" %}
  </div>
</div>

{% endblock conteudo %}
