{% extends "global/base.html" %}
{% load omfilters %}

{% block conteudo %}
{% block titulo %}Resumo{% endblock titulo %}
<div class="container mt-5">
    {% if carrinho %}
        <div class="row">
            <div class="col">
                <h2 class="mb-4">Resumo da Compra</h2>
            </div>
        </div>

        <!-- DADOS DO USUÁRIO -->
        <div class="row mb-4">
            <div class="col-md-6">
                <h4>Dados do Usuário</h4>
                {% comment %} criar mais tarde pagina para editar apenas o endereço {% endcomment %}
                <a href='{% url "perfil:criar" %}'>Editar dados </a>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Nome:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</li>
                    <li class="list-group-item"><strong>Email:</strong> {{ request.user.email }}</li>
                    <li class="list-group-item"><strong>CPF:</strong> {{ request.user.perfil.cpf }}</li>
                    <li class="list-group-item"><strong>Endereço:</strong> {{ request.user.perfil.endereco }}</li>
                    <li class="list-group-item"><strong>Cidade:</strong> {{ request.user.perfil.cidade }} - {{ request.user.perfil.estado }}</li>
                    <li class="list-group-item"><strong>CEP:</strong> {{ request.user.perfil.cep }}</li>
                </ul>
            </div>
        </div>

        <!-- CARRINHO -->
        <div class="row">
            <div class="col">
                <h4 class="mb-3">Itens no Carrinho</h4>
                {% include "global/partials/_carrinho.html" %}
            </div>
        </div>

        <!-- RESUMO E AÇÕES -->
        <div class="row mt-4">
            <div class="col-lg-6">
                <h4>Resumo de Pagamento</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        Total com desconto: <strong>R$ {{ carrinho|cart_totals }}</strong>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 mt-3 mt-lg-0 d-flex flex-column justify-content-end">
                <form method="post" action="{% url 'pedido:salvarpedido' %}">
                    {% csrf_token %}
                    <button class="btn btn-success btn-lg btn-block mb-2" type="submit">
                        Finalizar Compra
                    </button>
                </form>
                <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'produto:lista' %}">Continuar Comprando</a>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col text-center">
                <h3>Seu carrinho está vazio</h3>
                <p class="lead">Adicione produtos para vê-los aqui.</p>
                <a href="{% url 'produto:lista' %}" class="btn btn-primary mt-3">Ir para produtos</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock conteudo %}
